*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body{
  background-color: #E5E5E5;
}
/* MassageBlock start */

.blockWrapper{
  width: 886px;
  height: 315px;
  background-color: #ffffff;
  padding: 10px;
}

.massageBlock_header{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.massageBlock_headerLeft{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 25%;
}

.massageTime{
  position: absolute;
  top: 45px;
  left: 14px;
}

.massageBlock_userDesc{
  display: flex;
  flex-direction: column;
}

.massageBlock_userDesc > .userName{
  font-size: 16px;
  line-height: 13.3px;
  font-weight: 400;
  color: #808080;
}

.massageBlock_userDesc > .desc{
  font-weight: 400;
  color: #808080;
}

.massageBlock_headerCenter{
  width: 23%;
  height: 36px;
  grid-gap: 10px;   
  display: flex;
  align-items: center;
}

.massageBlock_headerCenter > div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
  height: 32px;
  border: 1px solid #0088EE;
  font-size: 13px;
  line-height: 11px;
  color: #0088EE;
}

.massageBlock_headerRight{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 23%;
}

.massageBlock_headerRight > img{
  width: 20px;
  height: 20px;
}

.massageDescription{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 82%;
  margin-left: 68px;
}

.massageDescription > div{
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  font-weight: 400;
}

.massagesBlocks_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
}
/* MassageBlock End */